body{
    background-color: blanchedalmond;
}

h1{
    color: rgb(103, 60, 8);
}
h2{
    color: blue;
}
ul{
    list-style-type: circle;
}
ul.maliste2{
    list-style-type: square;
}

.souligne{
    text-decoration: underline;
}